@if (deck !== undefined){
  <div style="padding: 1rem; padding-top: 0;">
    <h1 style="font-size: 2rem; margin-bottom: 0.5rem;">{{ deck.deckName }}</h1>
    <p style="font-size: 1.2rem; margin-bottom: 0.5rem;">Created by: <strong>{{ deck.playerName }}</strong></p>

    <div
      style="
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1rem;
      "
    >
      <div><strong>Total Cards:</strong> {{ deck.numberOfCards }}</div>
      <div><strong>Average Mana Cost:</strong> {{ deck.averageConvertedManaCost }}</div>
      <div><strong>Total Price:</strong> {{ deck.totalPrice.toFixed(2) }}€</div>
      <div><strong>Lands:</strong> {{ deck.landCount }}</div>
    </div>

    <form [formGroup]="cardForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field >
          <mat-select placeholder="Card" formControlName="card">
            @for (card of cards; track cards) {
              <mat-option [value]="card.id">{{ card.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button
                [disabled]="cardForm.invalid"
                type="submit">Add</button>
      </mat-card-actions>
    </form>
    <button
      (click)="toggleCardsVisibility()"
      mat-flat-button
    >
      {{ showCards ? 'Hide Cards' : 'Show Cards' }}
    </button>

    @if (showCards) {
      <div
        style="
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          gap: 1.5rem;
        "
      >
        @for (card of deck.cards; track deck.cards){
          <app-card [card]="card.card" [quantity]="card.quantity" [deckId]="deckId"></app-card>
        }
      </div>
    }
  </div>
}
